{
  "env": {
    "production": {
      "presets": [
        ["@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "browsers": ["last 2 versions", "IE >= 9"]
            }
          }
        ]
      ]
    },
    "development": {
      "presets": [
        ["@babel/preset-env"]
      ]
    }
  }
}